*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}


#topHeading{
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    color: white;
}

header{
    background-color:#496f43;
    align-items: center;
    justify-content: center;
}

a:link {
    color: white;
    font-family:'Times New Roman', Times, serif
}

a:visited{
    color: white;
}

a:hover{
    color: lightgreen;
}

#gridWrapperIndex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80vh 15vh 80vh 80vh 80vh 80vh;
    grid-template-areas:
    "s1 s2 s3 s4"
    "sb sb sb sb"
    "s5 s5 s6 s6"
    "s7 s7 s8 s8"
    "s9 s9 s10 s10"
    "s11 s11 s12 s12"
    ;
}

footer{
    background-color:#496f43;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center
}

#s1{
    background-image: url(..//img/animals/bildPaPanda.jpg);
    background-size: 450px;
    grid-area: s1;
}
#s2{
    background-image: url(..//img/animals/bildPaGiraff.jpg);
    background-size: 450px;
    grid-area: s2;

}
#s3{
    background-image: url(..//img/animals/bildPaGladaApor.jpg);
    background-size: 430px;
    grid-area: s3;

}
#s4{
    background-image: url(..//img/animals/flamingoBild.jpg);
    background-size: 430px;
    grid-area: s4;
}

#s5{
    grid-area: s5;
}

#s6{
    grid-area: s6;
    align-items: center;
}

#s7{
    grid-area: s7;
    align-items: center;

}

#s8{
    grid-area: s8;
}

#s9{
    grid-area: s9;
}

#s10{
    grid-area: s10;
    align-items: center;
}

#s11{
    grid-area: s11;
    align-items: center;
}
#s12{
    grid-area: s12;
}


.animalSection{
    display: flex;
    background-color: #3a5836;
    flex-direction: column;
}

#sb{
    grid-area: sb;
    background-color: #496f43;
}


#ourAnimalsSection{
    position: absolute;
    justify-items: center;
    margin-left: 670px;
    margin-top: 265px;
}

#ourAnimals{
    font-size: 75px;
    color: white ;

}

#contactList{
    color: white;
    margin-left: 2rem;
}

#bildPa2Pandor{
    width: 700px;
    border: 10px solid;
    border-color: white;
}

h2{
    color: white;
}

h3{
    color: white;
    padding: 0.3rem;
}

p{
    color: white ;
}

.animalHeading{
    font-size: 50px;
    margin-top: 140px;   
}

.animalText{
    font-size: 30px;
    padding: 50px;
}

.centerImages{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bildPaDjur{
    width: 700px;
    border: 5px solid;
    border-color: white;
}

#bildPaApa{
    height: 630px;
}

#griddWrapperResturant{
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
    grid-template-rows: 15vh 55vh 25vh 55vh 25vh;
    grid-template-areas: 
    "srh srh srh srh srh"
    ". sr1 sr2 sr3 ."
    ". sr4 sr5 sr6 ."
    ". sr7 sr8 sr9 ."
    ". sr10 sr11 sr12 ."
    ;
    background-color: #3a5836;
}

#srh{
    grid-area: srh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sr1{
    grid-area: sr1;  
}

#sr2{
    grid-area: sr2;
}

#sr3{
    grid-area: sr3;
}

#sr4{
    grid-area: sr4;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sr5{
    grid-area: sr5;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#sr6{
    grid-area: sr6;
    display: flex;
    align-items:  center;
    flex-direction: column;
}

#sr7{
    grid-area: sr7;
}

#sr8{
    grid-area: sr8;
}

#sr9{
    grid-area: sr9;
}

#sr10{
    grid-area: sr10;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sr11{
    grid-area: sr11;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#sr12{
    grid-area: sr12;
    display: flex;
    align-items:  center;
    flex-direction: column;
}

.foodImages{
    width: 350px;
    height: 400px;
    object-fit: cover;
    border: solid white 5px
}

.foodHeader{
    font-size: 40px;
}

.foodText{
    font-size: 23px;
    padding: 20px;
    text-align: center;
}

#menuHeader{
    font-size: 50px;
}

#gridWrapperOmOss{
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
    grid-template-rows: 15vh 70vh 70vh 70vh 10vh;
    grid-template-areas: 
    "so1 so1 so1 so1 so1"
    ". so2 so3 so4 ."
    ". so5 so6 so7 ."
    ". so8 so9 so10 ."
    ". . . . .";
    background-color: #3a5836;
}

#so1{
    grid-area: so1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#so2{
    grid-area: so2;
    flex-direction: column;
}

#so3{
    grid-area: so3;
    flex-direction: column;
}

#so4{
    grid-area: so4;
    flex-direction: column;
}

#so5{
    grid-area: so5;
    flex-direction: column;
}

#so6{
    grid-area: so6;
    flex-direction: column;
}

#so7{
    grid-area: so7;
    flex-direction: column;
}

#so8{
    grid-area: so8;
    flex-direction: column;
}

#so9{
    grid-area: so9;
    flex-direction: column;
}


#so10{
    grid-area: so10;
    flex-direction: column;
}


.peopleImage{
    width: 350px;
    height: 470px;
    object-fit: cover;
    border: solid white 5px;
}

.nameHeader{
    font-size: 30px;
    margin-top: 15px;
    margin-top: 15px;
    width: 350px;
}