*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}


#topHeading{
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    color: white;
}

#bottomHeading{
    color: white;
    padding:1rem;
}

header{
    background-color:#687864
}

a:link {
    color: white;
    font-family:'Times New Roman', Times, serif
}

a:visited{
    color: white;
}

a:hover{
    color: lightgreen;
}

body{
background-color: white;
height: 15vh;

}

#gridWrapperIndex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80vh;
    grid-template-areas: 
    "s1 s2 s3 s4";
    position: relative;
    
}

footer{

    background-color: #687864;  
    height: 15vh;
}


#s1{
    display: flex;
    background-color: white;
    background-image: url(..//img/animals/bildPaPanda.jpg);
    background-size: 450px;

}
#s2{
    display: flex;
    background-color:  white;
    background-image: url(..//img/animals/bildPaGiraff.jpg);
    background-size: 450px;

}
#s3{
    display: flex;
    background-color: white;
    background-image: url(..//img/animals/bildPaGladaApor.jpg);
    background-size: 430px;

}
#s4{
    display: flex;
    background-color:  white;
    background-image: url(..//img/animals/flamingoBild.jpg);
    background-size: 430px;
}

#ourAnimals{
    position: absolute;
    display: flex;
    justify-content: 

}
